/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-app-bg:  #F7F7F5;
  --color-app-accent: #C0EC4E;
  --color-app-dark: #1F1F1F;
  --color-app-bg-darker: #F3F3F5;
  --color-app-text-secondary: #B3B3B3;
}

.input-base {
  background-color: var(--color-app-bg-darker);
  height: 3rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1.5px;
  border-style: solid;
  border-color: #D1D5DC;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #000000;
  outline: none;
}

.input-base:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(163 230 53);
  border-color: transparent;
}