/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-app-bg:  #F7F7F5;
  --color-app-accent: #C0EC4E;
  --color-app-accent-dark: #A9D53A;
  --color-app-dark: #1F1F1F;
  --color-app-bg-darker: #F3F3F5;
  --color-app-text-secondary: #B3B3B3;
  --font-sans: 'Poppins', sans-serif;
}

.input-base {
  background-color: var(--color-app-bg-darker);
  height: 3rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1.5px;
  border-style: solid;
  border-color: #D1D5DC;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000000;
  outline: none;
}

.input-base:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(163 230 53);
  border-color: transparent;
}

.input-estimate {
  background-color: var(--color-app-bg-darker);
  height: 3rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1.5px;
  border-style: solid;
  border-color: #D1D5DC;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #000000;
  outline: none;
}
.input-estimate.ng-valid:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(163 230 53);
  border-color: #C0EC4E;
}

@keyframes scale-out {
  from { transform: scale(1); opacity: 1; }
  to   { transform: scale(0.5); opacity: 0; }
}

@keyframes scale-in {
  from { transform: scale(1.5); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

/* ::view-transition-old(root) {
  animation-name: scale-out;
  animation-duration: 500ms;
}

::view-transition-new(root) {
  animation-name: scale-in;
  animation-duration: 500ms;
}
  */
